<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>周期任务模板管理</title>
    @include("/common/plugins.html"){}
    @include("/common/plugins_ext.html"){}
    <!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="http://cdn.bootcss.com/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="layui-fluid weadmin-body">
    <form class="layui-form" action="">
        <div class="layui-elem-quote">
            <label>周期任务模板管理</label>
        </div>
        <br />
        <div class="layui-form-item clearfix">
            <div class="layui-input-inline">
                <input type="text" id="condition" placeholder="请输入名称" autocomplete="off" class="layui-input" >
            </div>
            <div class="layui-input-inline">
                <button class="layui-btn" data-type="reload" type="button" onclick="PeriodicReportDetail.search()"><i class="layui-icon">&#xe615;</i>查询</button>
                <button class="layui-btn" type="reset"><i class="layui-icon">&#xe00A;</i>重置</button>
            </div>
            <div class="fr">
                <button type="button" class="layui-btn" id="add"
                onclick="PeriodicReportDetail.openAddPeriodicReportDetail()"><i class="layui-icon">&#xe654;</i>新增</button>
                <button type="button" class="layui-btn" id="edit"
                onclick="PeriodicReportDetail.openPeriodicReportDetailDetail()"><i class="layui-icon">&#xe642;</i>修改</button>
                <button type="button" class="layui-btn" id="del"
                onclick="PeriodicReportDetail.delete()"><i class="layui-icon">&#xe640;</i>删除</button>
            </div>
        </div>
    </form>
    <table id="PeriodicReportDetailTable" ></table>
</div>
<script src="${ctxPath}/static/periodicReportDetail/periodicReportDetail/periodicReportDetail.js"></script>
</body>
</html>
